<div class="page-header">
  <h1><%= @project.name %>: Manage Members</h1>
</div>

<ol class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li>Memberships</li>
</ol>

<%= render partial: "shared/errors", locals: {object: @membership} %>

<% if current_user.project_owner?(@project) %>
<div class="well form-inline">
  <%= form_for [@project, @membership] do |f|  %>
  <%= f.collection_select :user_id, User.all, :id, :full_name, {prompt: "Please select a user..."}, class: "form-control" %>
  <%= f.collection_select :role, Membership.capital_roles, :last, :first, {include_blank: false}, class: "form-control" %>
  <%= f.submit 'Add Member', class: 'btn btn-primary'%>
  <% end %>
</div>
<% end %>

<% @project.memberships.each do |membership| %>
  <% if current_user.project_owner?(@project) %>
  <div class="form-inline">
    <%= form_for [@project, membership] do |f|  %>
    <p>
      <%= link_to "#{membership.user.full_name}", user_path(membership.user) %>
      <%= f.collection_select :role, Membership.capital_roles, :last, :first, {include_blank: false}, class: "form-control" %>
      <%= f.submit 'Update', class: 'btn btn-primary' %>
      <%= link_to '', project_membership_path(@project, membership), method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %>
    </p>
    <% end %>
  </div>
  <% else %>
  <div class="form-inline">
    <p>
      <%= link_to "#{membership.user.full_name}", user_path(membership.user) %>
      <%= membership.role %>
      <% if current_user == membership.user %>
        <%= link_to '', project_membership_path(@project, membership), method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-remove" %>
      <% end %>
    </p>
  </div>
  <% end %>
<% end %>
