<br/>

<div class="page-header">
  <h1><%= @task.description %>
  <div class='pull-right'>
    <%= link_to 'Edit', edit_project_task_path, class:'btn btn-info' %>
  </div>
</h1>
</div>

<ol class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li><%= link_to "Tasks", project_tasks_path(@project) %></li>
  <li><%= @task.description %></li>
</ol>

<div>
  <h3>
    Due Date: <%= @task.due_date %>
  </h3>
</div>

<div>
  <h3>Completed?:
  <% if @task.complete == true %>
    Yes
  <% else %>
    No
  <% end %>
  </h3>
</div>
<br/>
