<br/>

<div class="page-header">
  <h1><%= @user.full_name %>
  <% if current_user.id == @user.id %>
  <div class='pull-right'>
    <%= link_to 'Edit', edit_user_path(@user), class:'btn btn-info' %>
  </div>
  <% end %>
</h1>
</div>

<dl class="dl-horizontal">
  <p><dt>First Name: </dt>
  <dd><%= @user.first_name %></dd></p>
  <p><dt>Last Name: </dt>
  <dd><%= @user.last_name %></dd></p>
  <p><dt>Email: </dt>
  <dd><%= mail_to @user.email %></dd></p>
</dl>

<br/>
