<div class="well col-md-4 col-md-offset-4" id="sign_up">
  <div class="page-header">
    <h1>Sign Up for gCamp!</h1>
  </div>

  <%= form_for(@user, url: "/signup") do |f| %>

  <%= render partial: "shared/errors", locals: {object: @user} %>

  <div class="form-group">
    <%= f.label :first_name, :class => "control-label" %>
    <%= f.text_field :first_name, :class => 'form-control', :id => "first_name" %>
  </div>

  <div class="form-group">
    <%= f.label :last_name, :class => "control-label" %>
    <%= f.text_field :last_name, :class => 'form-control', :id => "last_name" %>
  </div>

  <div class="form-group">
    <%= f.label :email, :class => "control-label" %>
    <%= f.email_field :email, :class => 'form-control', :id => 'email' %>
  </div>

  <div class="form-group">
    <%= f.label :password, :class => "control-label" %>
    <%= f.password_field :password, :class => 'form-control', :id => 'password' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, :class => "control-label" %>
    <%= f.password_field :password_confirmation, :class => 'form-control', :id => 'password confirmation' %>
  </div>

  <div class="form-group">
    <%= f.submit "Sign Up!", :class => "btn btn-primary" %>
  </div>

  <% end %>

</div>
