<html>
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>gCamp</h1>
    <p>Your life, organized.</p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <%= image_tag('/robertmarwil/gSchoolProjects/gCamp-Jake-Marwil/app/assets/images/8203794182_8004f8f636_b.jpg') %>
      <h2>Tasks</h2>
      <p>Grouped by projects and lists, just the way you like'em</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <%= image_tag('/app/assets/images/8864977481_713b7cbda5_b.jpg') %>
      <h2>Documents</h2>
      <ul>
        <li>Upload</li>
        <li>Comment</li>
        <li>Revise</li>
      </ul>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <%= image_tag('/images/8969237967_c5960fc544_b.jpg') %>
      <h2>Comments</h2>
      <ul>
        <li>Comment on tasks and documents</li>
        <li>Get email notifications</li>
      </ul>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Company 2014</p>
  </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>



<img src="http://www.gifbin.com/bin/042012/1334168255_kid_on_barney_and_friends_simulates_brushing_teeth.gif">
<img src="http://www.reactiongifs.us/wp-content/uploads/2013/11/brent_rambo_approves.gif">

</html>

<%= image_tag('http://www.dairyqueen.com/PageFiles/331/dq-sides-hotdog.png?width=&height=810') %>
<!-- <%= image_tag('URL') %> how to put image in HTML using HTML.erb -->
