<br/>

<div class="page-header">
  <h1><%= @project.name %>
  <% if current_user.project_owner?(@project) || current_user.admin? %>
  <div class='pull-right'>
    <%= link_to 'Edit', edit_project_path(@project), class:'btn btn-info' %>
  </div>
  <% end %>
</h1>
</div>

<ol class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li class="active"><%= @project.name %></li>
</ol>

<p><%= link_to "#{@project.tasks.all.count} Tasks", project_tasks_path(@project) %></p>

<p><%= link_to "#{@project.memberships.all.count} Memberships", project_memberships_path(@project) %></p>

<% if current_user.project_owner?(@project) || current_user.admin? %>
<div class="well">
  <h4>Delete</h4>
  <p>
    Deleting this project will also delete <%= pluralize @project.memberships.count, "membership" %>, and <%= pluralize @project.tasks.count, "task" %> and associated comments.
  </p>
  <%= link_to 'Delete', project_path, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
</div>
<% end %>
