<!DOCTYPE html>
<html>
<head>
  <title>GCampJakeMarwil</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon6.png' %>
</head>
<body id="top">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/projects">gCamp</a>
      </div>

      <% if params['controller'] == 'projects' || params['controller'] == 'tasks' || params['controller'] == 'memberships' || params['controller'] == 'users' %>
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-expanded="false">Projects<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <% current_user.projects.each do |project| %>
                    <%= link_to project.name, project_path(project) %>
                  <% end %>
                </li>
                <li class="divider"></li>
                <li><a href="/projects/new">New Project</a></li>
              </ul>
            </li>
            <a class="navbar-brand" href="/users">Users</a>
          </ul>
        </div>
      <% end %>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "#{current_user.first_name} #{current_user.last_name}", user_path(current_user) %></li>
          <li><%= link_to 'Sign Out', signout_path %></li>
        <% else %>
          <li><%= link_to 'Sign Up', signup_path %></li>
          <li><%= link_to 'Sign In', signin_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <br/>
  <div class="container">
    <% if flash[:notice] %>
    <div class="alert alert-success text-center"><%= flash[:notice] %></div>
    <% end %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= yield %>
      </div>
    </div>
  </div>

  <div class="container">
  <footer>
    <% if params['controller'] == 'projects' || params['controller'] == 'tasks' || params['controller'] == 'memberships' || params['controller'] == 'users' %>
    <div class="row">
      <div class= "text-center col-md-12">
        <%= link_to "Home", root_path %>
        |
        <%= link_to "About", about_path %>
        |
        <%= link_to "Terms", terms_path %>
        |
        <%= link_to "FAQ", faq_path %>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class= "col-md-6">
        <!-- <a href="/about">About</a> -->
        <%= link_to "About", about_path %>
        |
        <!-- <a href="/terms">Terms</a> -->
        <%= link_to "Terms", terms_path %>
        |
        <!-- <a href="/faq">FAQ</a> -->
        <%= link_to "FAQ", faq_path %>
        <% if current_user %>
        |
        <%= link_to "Users", users_path %>
        |
        <%= link_to "Projects", projects_path %>
        <% end %>
      </div>

      <div class="col-md-6 text-right">
        <a href="https://www.linkedin.com/in/robertmarwil/">
          <%= image_tag('linked_in.jpg', class: 'img-footer') %>
        </a>
        <a href="https://github.com/rjmarwil">
          <%= image_tag('cat.png', class: 'img-footer') %>
        </a>
        <a href="https://twitter.com/JakeMarwil">
          <%= image_tag('twitter.png', class: 'img-footer') %>
        </a>
        <a href="https://students.gschool.it/students/224">
          <%= image_tag('galvanize.png', class: 'img-footer') %>
        </a>
      </div>
    </div>
    <% end %>
  </footer>
</div>

</body>
</html>
